{{ if .Site.Params.giscus }}
<div class="giscus"></div>
<script src="https://giscus.app/client.js"
    data-repo="shuohui-air-technology/shuohui-pages"
    data-repo-id="R_kgDOSy7mCQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOSy7mCc4C-pOT"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async>
</script>
{{ end }}
