{{- if .IsPage -}}
  {{- $font := resources.Get "css/fonts/lxgw-wenkai-mono-1.522.css" -}}
  {{- $typography := resources.Get "css/article-typography.css" -}}
  {{- $articleCSS := slice $font $typography | resources.Concat "css/article-typography.css" | minify | fingerprint -}}
<link rel="stylesheet" data-article-typography href="{{ $articleCSS.RelPermalink }}" integrity="{{ $articleCSS.Data.Integrity }}" crossorigin="anonymous">
{{- end -}}
{{- $needsMath := or .Params.math site.Params.math -}}
{{- if and (not $needsMath) .IsSection -}}
  {{- $mathPages := where .RegularPages "Params.math" true -}}
  {{- $needsMath = gt (len $mathPages) 0 -}}
{{- end -}}
{{- if $needsMath }}
<script src="/js/mathjax-config.js?v=lazy-1"></script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3.2.2/es5/tex-mml-chtml.js"></script>
{{- end }}
