{{ if .Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNHUEE6GkFBzHVZOBGOMSVkCjouSPaOJiWvtmCbZj5vHxHahS5VfMqFz" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAaqlHwB5XEItLSxJPIiYOrOYRYPmctzRI8qXIWil1nYg5mLEs5M" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgBGycQnCFfMqR7kpFES+zKEMWovOwTMUJ3lXOYnVmPJXtZWz9kzUN1" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
        delimiters: [
            {left: '$$', right: '$$', display: true},
            {left: '$', right: '$', display: false},
            {left: '\\[', right: '\\]', display: true},
        ],
        throwOnError: false
    });"></script>
{{ end }}
